@font-face {
    font-family: SourceSansPro;
    font-weight: 600;
    src: url("fonts/SourceSansPro-Semibold.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: 400;
    src: url("fonts/SourceSansPro-Regular.ttf") format("opentype");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: 700;
    src: url("fonts/SourceSansPro-Bold.ttf") format("opentype");
}

* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: SourceSansPro, sens-serif;
}

.grid {
    width: 100vw;
    display: grid;
    grid-template-columns: 0 1fr max-content 0;
    grid-template-rows: min-content;
    grid-template-areas:
        ".   .    .  ." 
        ". title nav ."
        "hero hero hero hero";
    gap: 1em;
}

.title { 
    display: flex;
    grid-area: title;
    align-items: center;
}

.logo {
    width: 23px;
    height: 23px;
    align-items: center;
}

.logo-title {
    color: #0E0E0E;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: -.03em;
    margin-left: .2em;
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2em;
}

.hero-image {
    width: 100%;
    grid-area: hero;
    object-fit: cover;
}

.hero-article {
    color: white;
    grid-column: 2 / -2;
    grid-row: 3;
    align-self: end;
    padding-bottom: 1.5rem;
}

.blog-article {
    grid-column: 2 / -2;
    grid-row: 4;
    padding: 1em 0;
}

nav a {
    font-size: .75rem;
    font-weight: 600;
    color: #090909;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-article .article-date {
    font-size: .75rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.hero-article .article-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.125rem;
    letter-spacing: -.03em;
    padding-bottom: .5rem;
}

.hero-article .article-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}

h1, 
h2, 
h3,
p {
    margin: 0;
}